<template>
  <div id="app">
    <h1>Новая почта на минималках 😂 </h1>
   <br>
   <a>Введите ваш город</a>
   <br>
   <input  type="text" v-model="misto" >
    
    <button v-on:click="myFunction">Search</button>
   <br>

   <br>
   <button v-on:click="vitdilenya">Відділення</button>
   <br>
   <br>
   <select >
       <option  v-for="item in o" v-bind:key="item.Description" >{{item.Description}}</option>
   </select>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  name: 'App',
data(){
    return {
      mista:[],
      mi:{},
      misto:'',
      o:[],
     mRef:'',
    }
  },
   mounted:function(){
    axios.post("https://api.novaposhta.ua/v2.0/json/",{
      "modelName":"AddressGeneral",
      "calledMethod":"getCities",
      "methodProperties":{
        "Warehouse":"1",
      },
      "apiKey":"9a557481f95094531372a9d1b55222c8"
    }).then((response) => {
      console.log(response.data.data);
      this.mista = response.data.data;
    })
  },
  methods:{
    myFunction:function(){
      for (var i = 0; i < this.mista.length; i++){
        if (this.mista[i].Description == this.misto){
          this.mi = this.mista[i];
          this.mRef = this.mi.Ref;
        }
      }
    },
    vitdilenya:function(){
      axios.post("https://api.novaposhta.ua/v2.0/json/",{
        "modelName": "AddressGeneral",
        "calledMethod": "getWarehouses",
        "methodProperties": {
            "CityRef": this.mRef
        },
        "apiKey": "9a557481f95094531372a9d1b55222c8"
      }).then((response) =>{
        console.log(response.data.data);
        this.o = response.data.data;
      })
    }
  }
}


</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: red;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
