<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LS</title>
</head>
<body class="bg">
    <div id='app' >
       
        <template v-if="LS == ''">
            <link rel="stylesheet" href="./css/style1.css">
            <button v-on:click="FunctionColor1">Изменить цвет</button>
            
        </template>
        <template v-else>
            <link rel="stylesheet" href="./css/style2.css">
            <button v-on:click="FunctionColor2">Изменить цвет</button>
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
            el:'#app',
            data:{
                LS: '',
            },
            mounted:function(){
                let styleStorage = localStorage.getItem('LSS');
                if(styleStorage == ''){
                    this.LS = '';
                }
                else{
                    this.LS = 'true';
                }
            },
            methods:{
                FunctionColor1:function(){
                   this.LS = "true";
                   if (this.LS == 'true'){
                   localStorage.setItem('LSS','true') ;
                }
                },
                FunctionColor2:function(){
                    this.LS = "";
                    if (this.LS == ''){
                    localStorage.setItem('LSS','') ;
                }
                }
            }
        })
    </script>
    
</body>
</html>
