<template>
  <div>  
  
    <h1>Converter</h1>
    <br>
    
      <table v-for="item in massive" v-bind:key="item">
          <td>{{item.ccy}}</td><br><br>
          <td><button @click="choose(item.ccy)">Choose</button></td>
      </table>
      <br>
      <br>
      <a>Convert from: {{mas.ccy}}, To: UAH</a>
      <br>

      <br>
      <a>Enter emount</a>
      <input type='text' v-model="ent">
      <br>
      <br>
      <button @click="calc">Calculate</button>
      <br>
       <br>
      <a>Buy: {{buy1}}</a>
      <br>
       <br> 
      <a>Sale: {{sale1}}</a>
   
  </div>
</template>

<script>
import axios from 'axios'


export default {
  name: 'App',
  data(){
    return {
      massive: [],
      mas:[],
      keyName: '',
      ent:'',
      buy1:'',
      sale1:''
    }
  },
  components: {
    
  },
  mounted:function(){
    axios.get("https://api.privatbank.ua/p24api/pubinfo?json&exchange&coursid=5").then((response) =>{
            console.log(response.data);
            this.massive = response.data;
    })
  },
  methods:{
    choose:function(keyName){
       this.mas = this.massive.find((itement) => { 
       return itement.ccy == keyName; 
      });
    },
    calc:function(){
        this.buy1 = this.ent * this.mas.buy;
        this.sale1 = this.ent * this.mas.sale;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>



