<template>
<div v-bind:class="chst==''?'bg1':'bg2'">
   <!-- <input type="text" v-model.lazy.trim="poisk"> -->
    <div  >
         <input type="radio" value='' v-model="chst" @click="send()">
            <br>
            <input type="radio" value='true' v-model="chst" @click="send()"> 
        <div v-for="item in students" v-bind:key="item._id">
              
           <!-- <div id="methodCaesar" style="display:''">
        <font class="PIB" id="not" v-bind:style="(item.name.includes(poisk)) ? '' : ''"> {{item.name}} </font> 
        <font >   {{item.group}}    </font>   
                
        <font v-if="item.isDonePr==true" > <input type="checkbox" checked="student.isDonePr"></font> 
        <font v-else><input  type="checkbox" ></font> 
      </div>
-->
        <template v-if="item._id == editId">
                <table>
                <td><input v-model="item.name" value="item.name"></td>
                <td>{{item.group}}</td>
                <td> {{item.group}} </td>
                <td><input type="button" v-on:click="upt(editId)" value="Update"></td>
                </table>
            </template> 
            <template v-else>
                <table>
                <td> <router-link v-bind:to="'/student-info/'+item._id">{{item.name}} </router-link></td>
                <td> {{item.group}} </td>
                <td v-if="item.isDonePr==true" > <input type="checkbox" checked="student.isDonePr"></td> 
                <td v-else><input  type="checkbox" ></td> 
                <td>  <a id="not" href="#" v-on:click="removeStudent(item._id) " v-show="item.group==getCurrentUser.group">Удалить</a><a href="#" v-on:click.prevent="rpl(item._id)">Обновить</a></td>
                </table>
            </template>
 
       
            </div>
        </div>
        
        <div>
          <form>
               П І Б <input type="text" v-model.trim="student.name"> 
               Група <select v-model.trim="student.group">
                   <option value="RPZ-17 2/9">RPZ-17 2/9</option>
                   <option value="RPZ-17 1/9">RPZ-17 1/9</option>
               </select>
               Екзамен <input type="checkbox" v-model="student.isDonePr">
               <input type="submit" id="post" v-on:click="addstud()">
           </form>
       </div>
       <a>Кількість студентів = {{getCount}}</a>
       <br>
       <div>
        
            <br>

      
        
       </div>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

export default {
     props: {
           id: '',
       },
        data() {
          return {
        students:[],
        student: {"name": "", isDonePr: false, group: ""},
        poisk:'Поиск',
        piece:'',
         chst:'',
          }
        },
        mounted: async function(){
           let response = await axios.get("http://46.101.212.195:3000/students");
                console.log(response.data)
                this.students=response.data;
                this.$store.commit('setCount', this.students.length);
           
            
        },
        computed:{
            getCount (){
                    return this.$store.getters.getCount
            },
             getCurrentUser(){
            return this.$store.getters.getUser
        }
        },
        methods:{
           removeStudent : function(studId){ 
            axios.delete("http://46.101.212.195:3000/students/"+studId, {}) 
            .then((response)=>{ 
                this.students=this.students.filter(element=>{ 
                return element._id!==studId;});
            }) 
              
            },
            upt:function(id){
                let foundStudent=this.students.find((element)=>{
                    return element._id==id;
                });
                

                axios.put("http://46.101.212.195:3000/students/"+id,{
                    name:foundStudent.name,
                    group:foundStudent.group,
                    isDonePr:false
                })
                .then((response)=>{
                    console.log(response.data)
                })
                this.editId=0;
            },
             send:function(){
            this.$store.commit('back',this.chst);
        },
            rpl:function(id){
                this.editId=id;
            },

            addstud() {
                axios.post("http://46.101.212.195:3000/students", this.student) .then((response)=>{
                    console.log(response.data)
    this.students.push(this.student);
                });
            },
           
        }
       
    }
    
</script>

<style scoped>

</style>

